:root {
    --dt-light-background: #A855F7;
    --dt-dark-background: #334155;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--dt-dark-background), var(--dt-light-background));
}
